{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-modules-umd",
    "transform-flow-strip-types"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ]
}